<ng-container *ngIf="dataNode.linkedPageTree; else card">
  <a href="{{getPageHref(dataNode.linkedPageTree)}}" class="paragraphLink">
    <ng-container *ngTemplateOutlet="card"></ng-container>
  </a>
</ng-container>

<ng-template #card>
  <ng-container
    *ngIf="ctrl.getGalleryObjectTree(dataNode, templateNode, siteTemplateNode) as galleryObjectTree"
  >
    <ng-container
      *ngIf="ctrl.getGalleriePosition(dataNode, templateNode, siteTemplateNode) as galleriePosition"
    >
      <div
        class="card {{ctrl.getParagraphColClass(dataNode, templateNode, siteTemplateNode)}}"
      >
        <div class="row no-gutters">
          <div class="col-12" *ngIf="'before'===galleriePosition">
            <ng-container *ngTemplateOutlet="cardImg"></ng-container>
          </div>
          <div
            class="col"
            *ngIf="(dataNode.paragraphTitle && '' !== dataNode.paragraphTitle) || (dataNode.contentText && '' !== dataNode.contentText)"
          >
            <div class="card-body">
              <h2
                class="card-title {{ctrl.titleClass(dataNode, templateNode, siteTemplateNode)}}"
                *ngIf="dataNode.paragraphTitle && '' !== dataNode.paragraphTitle"
              >
                {{dataNode.paragraphTitle}}<span
                  class="ml-2 float-right badge badge-secondary badge-light badge-pill font-weight-light font-italic"
                  *ngIf="ctrl.displayParentPageTitle(dataTree, dataNode, templateNode, siteTemplateNode) as parentPageTitle"
                  >{{parentPageTitle}}</span
                >
              </h2>
              <div>
                <div
                  class="{{ctrl.getGalleryColClass(dataNode, templateNode, siteTemplateNode)}}"
                  *ngIf="'left'===galleriePosition || 'right'===galleriePosition"
                  [class.pr-0]="'right'===galleriePosition"
                  [class.pl-0]="'left'===galleriePosition"
                >
                  <ng-container *ngTemplateOutlet="cardImg"></ng-container>
                </div>
                <p
                  class="card-text {{ctrl.contentClass(dataNode, templateNode, siteTemplateNode)}}"
                  *ngIf="dataNode.contentText && '' !== dataNode.contentText"
                  [innerHtml]="dataNode.contentText"
                ></p>
              </div>
            </div>
          </div>
          <div class="col-12" *ngIf="'after'===galleriePosition">
            <ng-container *ngTemplateOutlet="cardImg"></ng-container>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-template #cardImg>
      <div class="card-img">
        <div
          template
          [dataTree]="dataTree"
          [templateTree]="galleryObjectTree"
        ></div>
      </div>
    </ng-template>
  </ng-container>
</ng-template>
