/* ================
Calendar Styling */

a,
a:hover {
  text-decoration: none;
}

.calendar {
  border-radius: 10px;
  overflow: hidden;
}

.month {
  font-size: 2rem;
}

@media (min-width: 992px) {
  .month {
    font-size: 3.5rem;
  }
}

.calendar ol li {
  float: left;
  width: 14.28571%;
}

.calendar ol {
  overflow: hidden;
  margin-bottom: 0;
  border-bottom: 1px solid #eee;
}

.calendar .day-names li {
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

.calendar .days li .date {
  margin: 0.5rem 0;
}

.calendar .days li .event {
  font-size: 0.75rem;
  padding: 0.4rem;
  color: white;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 0;
  margin-bottom: 1px;
}

.calendar .days li .event.span-2 {
  width: 200%;
}

.calendar .days li .event.span-3 {
  width: 300%;
}

.calendar .days li .event.span-4 {
  width: 400%;
}

.calendar .days li .event.span-5 {
  width: 500%;
}

.calendar .days li .event.span-6 {
  width: 600%;
}

.calendar .days li .event.span-7 {
  width: 700%;
}

.calendar .days li .event.begin {
  border-radius: 1rem 0 0 1rem;
}

.calendar .days li .event.end {
  border-radius: 0 1rem 1rem 0;
}

.calendar .days li .event.begin.end {
  border-radius: 1rem 1rem 1rem 1rem;
}

.calendar .days li .event.transparent {
  color: transparent;
  background-color: transparent;
}

.calendar .days li .event.clear {
  background: none;
}

.calendar .days li:nth-child(n + 29) {
  border-bottom: none;
}

.calendar .days li.outside .date {
  color: #ddd;
}

.tooltip-inner {
  max-width: 300px;
  background-color: transparent;
  color: inherit;
}

.tooltip {
  opacity: 1;
  padding: 10px;
  background-color: white;
  border: #ddd solid 1px;
  border-radius: 4px;
}
.tooltip .arrow {
  height: 16px;
  width: 16px;
}
.bs-tooltip-top .arrow {
  bottom: -17px;
}
.bs-tooltip-bottom .arrow {
  top: -17px;
}
.bs-tooltip-right .arrow {
  left: -17px;
}
.bs-tooltip-left .arrow {
  right: -17px;
}

.bs-tooltip-top .arrow::before {
  border-width: 8px;
}
.bs-tooltip-top .arrow::before {
  border-top-color: #bbb;
}
.bs-tooltip-bottom .arrow::before {
  border-bottom-color: #bbb;
}
.bs-tooltip-right .arrow::before {
  border-right-color: #bbb;
}
.bs-tooltip-left .arrow::before {
  border-left-color: #bbb;
}
