<div class="card">
  <div class="card-body">
    <h1
      class="card-title"
      *ngIf="(dataNode.pageTitle || dataNode.menuTitle) as pageTitle"
    >
      {{pageTitle}}
    </h1>
    <p class="card-text">
      <ng-container
        *ngTemplateOutlet="paragraphs;context:{paragraphNodes:[dataTree]}"
      ></ng-container>
      <ng-container
        *ngIf="!dataTree.paragraphNodes && dataTree.pageNodes && 0<dataTree.pageNodes.length"
      >
        <ng-container
          *ngTemplateOutlet="subPages;context:dataTree"
        ></ng-container>
      </ng-container>
    </p>
  </div>
</div>

<ng-template #subPages let-pageNodes="pageNodes">
  <ng-container *ngFor="let childTree of pageNodes">
    <div
      *ngIf="ctrl.getPageTreeTemplate(childTree.treeNode, templateNode, siteTemplateNode) as pageTreeTemplate"
      template
      [dataTree]="childTree"
      [templateTree]="pageTreeTemplate"
    ></div>
    <ng-container *ngIf="childTree.pageNodes">
      <ng-container
        *ngTemplateOutlet="subPages; context: {pageNodes:childTree.pageNodes}"
      ></ng-container>
    </ng-container>
  </ng-container>
</ng-template>

<ng-template #paragraphs let-paragraphNodes="paragraphNodes">
  <ng-container *ngFor="let childTree of paragraphNodes">
    <div
      *ngIf="ctrl.getParagraphTreeTemplate(childTree.treeNode, templateNode, siteTemplateNode) as paragraphTreeTemplate"
      template
      [dataTree]="childTree"
      [templateTree]="paragraphTreeTemplate"
    ></div>
    <ng-container *ngIf="childTree.paragraphNodes">
      <ng-container
        *ngTemplateOutlet="paragraphs; context: {paragraphNodes:childTree.paragraphNodes}"
      ></ng-container>
    </ng-container>
  </ng-container>
</ng-template>
