<div class="container">
  <div class="row d-flex justify-content-center">
    <ng-container *ngFor="let image of dataNode.images; let index = index;">
      <div
        class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 d-flex align-items-center"
      >
        <div class="m-2 img-thumbnail">
          <div class="card imgThumb">
            <img
              (click)="ctrl.showImg(index)"
              data-toggle="modal"
              [attr.data-target]="'#modalImgGal'+dataNode.id"
              class="card-img-top"
              [src]="getImgSrc({uri:image.treeNode.contentImageUri})"
              alt="{{image.treeNode.name}}"
            />
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
<div
  id="modalImgGal{{dataNode.id}}"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myLargeModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content" *ngIf="ctrl.modalImage">
      <div class="modal-header">
        <h5 class="modal-title" *ngIf="ctrl.modalTitle">{{ctrl.modalTitle}}</h5>

        <div
          class="btn-group btn-group-sm"
          role="group"
          *ngIf="dataTree.treeNode.images.length > 1"
        >
          <button
            type="button"
            class="btn btn-secondary"
            (click)="ctrl.showImg(ctrl.modalIndex-1)"
          >
            &lt;
          </button>
          <button
            type="button"
            class="btn btn-secondary"
            (click)="ctrl.showImg(ctrl.modalIndex+1)"
          >
            &gt;
          </button>
        </div>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <div
          class="imgFullScreen"
          [style.background-image]="getImgBackground({uri:ctrl.modalImage.contentImageUri})"
        ></div>
        <div class="d-block w-100" *ngIf="!ctrl.modalImage">
          <div class="text-center">
            <div class="spinner-border" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
        </div>
      </div>
      <!--
      <img
        [src]="getImgSrc(ctrl.modalImage.contentImage)"
        *ngIf="ctrl.modalImage"
        class="img-fluid"
        alt="{{ctrl.modalImage.name}}"
      />-->
    </div>
  </div>
</div>
