.template_pageWithParagraph .card .card.card-popup {
  padding-top: 10px;
}

.card-popup .card-img-top {
  overflow: hidden;
}

.card.card-popup .card-img-top img {
  height: 70px;
}

.card.card-popup .card-body {
  padding: 5px;
}

.card.card-popup h6.card-title {
  margin-bottom: 5px;
}

.card.card-popup p.card-text {
  margin: 5px 0;
}
