.map-holder {
  position: relative;
  min-height: 80vh;
}
.map-div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.map-popup .leaflet-popup-content-wrapper {
  box-shadow: none;
  border-radius: 4px;
}

.map-popup .leaflet-popup-close-button {
  display: none;
}
