<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand">{{dataNode.menuTitle}}</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <ng-container *ngFor="let menuEntry of siteTemplateNode?.menuEntries">
        <ng-container
          *ngIf="siteNode.menuEntries && siteNode.menuEntries[menuEntry.entryKey]"
        >
          <ng-container
            *ngIf="siteTree.menuEntries[menuEntry.entryKey].singleMenu; else dropdownMenu"
          >
            <li class="nav-item">
              <a
                href="{{ctrl.getHref(siteTree.menuEntries[menuEntry.entryKey])}}"
                class="nav-link"
                [class.disabled]="siteTree.menuEntries[menuEntry.entryKey].disabled"
              >
                {{siteNode.menuEntries[menuEntry.entryKey]}}
              </a>
            </li>
          </ng-container>
        </ng-container>
        <ng-template #dropdownMenu>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="{{siteTree.menuEntries[menuEntry.entryKey].id}}"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              {{siteNode.menuEntries[menuEntry.entryKey]}}
            </a>
            <div
              class="dropdown-menu"
              aria-labelledby="{{siteTree.menuEntries[menuEntry.entryKey].id}}"
            >
              <ng-container
                *ngTemplateOutlet="navbarDropdownItems;
                context: { menuEntries: siteTree.menuEntries[menuEntry.entryKey] }
              "
              ></ng-container>
            </div>
          </li>
        </ng-template>
        <ng-template #navbarDropdownItems let-menuEntries="menuEntries">
          <ng-container *ngFor="let menuTree of menuEntries.children">
            <a class="dropdown-item" href="{{ctrl.getHref(menuTree)}}"
              >{{menuTree.menuTitle}}</a
            >
            <div class="ml-2">
              <ng-container
                *ngTemplateOutlet="navbarDropdownItems;
              context: { menuEntries: menuTree }
            "
              ></ng-container>
            </div>
          </ng-container>
        </ng-template>
      </ng-container>
    </ul>
  </div>
</nav>
